In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/learn_pandas.csv',
     usecols = ['Grade', 'Name', 'Gender', 'Height', 'Weight'])

In [3]:
df

         Grade            Name  Gender  Height  Weight
0     Freshman    Gaopeng Yang  Female   158.9    46.0
1     Freshman  Changqiang You    Male   166.5    70.0
2       Senior         Mei Sun    Male   188.9    89.0
3    Sophomore    Xiaojuan Sun  Female     NaN    41.0
4    Sophomore     Gaojuan You    Male   174.0    74.0
..         ...             ...     ...     ...     ...
195     Junior    Xiaojuan Sun  Female   153.9    46.0
196     Senior         Li Zhao  Female   160.9    50.0
197     Senior  Chengqiang Chu  Female   153.9    45.0
198     Senior   Chengmei Shen    Male   175.3    71.0
199  Sophomore     Chunpeng Lv    Male   155.7    51.0

[200 rows x 5 columns]

In [4]:
s = df.Grade.astype('category')

In [6]:
s

0       Freshman
1       Freshman
2         Senior
3      Sophomore
4      Sophomore
         ...
195       Junior
196       Senior
197       Senior
198       Senior
199    Sophomore
Name: Grade, Length: 200, dtype: category
Categories (4, object): ['Freshman', 'Junior', 'Senior', 'Sophomore']

In [7]:
s.cat.codes

0      0
1      0
2      2
3      3
4      3
      ..
195    1
196    2
197    2
198    2
199    3
Length: 200, dtype: int8

In [10]:
df.Grade = df.Grade.astype('category')
df.Grade = df.Grade.cat.reorder_categories(['Sophomore',
                                            'Freshman',
                                            'Junior',
                                            'Senior'],ordered=True)

In [21]:
df.sort_values('Grade')

         Grade            Name  Gender  Height  Weight
199  Sophomore     Chunpeng Lv    Male   155.7    51.0
120  Sophomore        Peng Han  Female   147.8    34.0
29   Sophomore     Changmei Xu  Female   151.6    43.0
110  Sophomore     Xiaomei Shi  Female   157.9    47.0
106  Sophomore       Qiang Sun  Female   154.3    40.0
..         ...             ...     ...     ...     ...
161     Senior       Quan Qian  Female   159.0    50.0
103     Senior        Mei Chen  Female   153.6     NaN
165     Senior        Feng Han    Male   170.1    69.0
18      Senior    Xiaofeng Sun    Male   170.3    71.0
131     Senior  Chengpeng Qian    Male   177.2    73.0

[200 rows x 5 columns]

In [22]:
df.Grade == 'Sophomore'

0      False
1      False
2      False
3       True
4       True
       ...
195    False
196    False
197    False
198    False
199     True
Name: Grade, Length: 200, dtype: bool

In [24]:
res2 = df.Grade == ['PhD']*df.shape[0]

In [25]:
res2.value_counts()

False    200
Name: Grade, dtype: int64

In [26]:
res4 = df.Grade <= df.Grade.sample(frac=1).reset_index(drop=True)

In [31]:
df.Grade.sample(frac=1)

116      Senior
168      Senior
127      Senior
34     Freshman
92       Senior
         ...
164      Junior
16       Junior
131      Senior
82       Junior
57     Freshman
Name: Grade, Length: 200, dtype: category
Categories (4, object): ['Sophomore' < 'Freshman' < 'Junior' < 'Senior']

In [37]:
s = pd.Series([1,2])
pd.cut(s, bins=[-np.infty, 0.9, 1.2, 2.3])

0    (0.9, 1.2]
1    (1.2, 2.3]
dtype: category
Categories (3, interval[float64]): [(-inf, 0.9] < (0.9, 1.2] < (1.2, 2.3]]

In [38]:
pd.cut(s, bins=2, labels=['small', 'big'], retbins=True)

(0    small
 1      big
 dtype: category
 Categories (2, object): ['small' < 'big'],
 array([0.999, 1.5  , 2.   ]))

In [39]:
s = df.Weight

In [40]:
s

0      46.0
1      70.0
2      89.0
3      41.0
4      74.0
       ...
195    46.0
196    50.0
197    45.0
198    71.0
199    51.0
Name: Weight, Length: 200, dtype: float64

In [48]:
s1 = pd.qcut(s, q=3)

In [49]:
s2 = pd.qcut(s, q=[0.2,0.8,1])

In [50]:
s1.value_counts()

(33.999, 48.0]    70
(55.0, 89.0]      61
(48.0, 55.0]      58
Name: Weight, dtype: int64

In [54]:
pd.cut(s, 3)

0      (33.945, 52.333]
1      (52.333, 70.667]
2        (70.667, 89.0]
3      (33.945, 52.333]
4        (70.667, 89.0]
             ...
195    (33.945, 52.333]
196    (33.945, 52.333]
197    (33.945, 52.333]
198      (70.667, 89.0]
199    (33.945, 52.333]
Name: Weight, Length: 200, dtype: category
Categories (3, interval[float64]): [(33.945, 52.333] < (52.333, 70.667] < (70.667, 89.0]]

In [51]:
id_interval = pd.IntervalIndex(pd.cut(s, 3))

In [52]:
id_demo = id_interval[:5]

In [53]:
id_demo

IntervalIndex([(33.945, 52.333], (52.333, 70.667], (70.667, 89.0], (33.945, 52.333], (70.667, 89.0]],
              closed='right',
              name='Weight',
              dtype='interval[float64]')

In [55]:
id_demo.left

Float64Index([33.945, 52.333, 70.667, 33.945, 70.667], dtype='float64')