In [1]:
import numpy as np
import pandas as pd

## EX1

In [2]:
df = pd.read_csv('data/pokemon.csv')

In [3]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65

In [25]:
m, n = df.shape

### Q1

In [37]:
index = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

In [38]:
df_total = df[index].sum(axis=1) == df['Total']

In [39]:
count_False = 0
for _ in range(m):
    if not df_total[_]:
        count_False += 1
count_False

0

### Q2

In [47]:
df_Q2 = df.drop_duplicates('#')

In [48]:
df_Q2

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...,...,...
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70

In [57]:
a1 = df_Q2.nunique()['Type 1']

In [68]:
a1

18

In [100]:
Type_kind = df_Q2['Type 1'].unique()

In [134]:
Type_kind

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [67]:
a2 = df_Q2['Type 1'].value_counts()[:3]

In [69]:
a2

Water     105
Normal     93
Grass      66
Name: Type 1, dtype: int64

In [84]:
b1 = df_Q2[['Type 1', 'Type 2']].value_counts().shape

In [85]:
b1

(125,)

In [146]:
b1s = df_Q2.drop_duplicates(['Type 1', 'Type 2'])

In [174]:
b1s[['Type 1', 'Type 2']].drop_duplicates(['Type 1', 'Type 2'])

      Type 1  Type 2
0      Grass  Poison
4       Fire     NaN
6       Fire  Flying
9      Water     NaN
13       Bug     NaN
..       ...     ...
773     Rock   Fairy
778    Ghost   Grass
790   Flying  Dragon
797  Psychic   Ghost
799     Fire   Water

[143 rows x 2 columns]

In [182]:
b2s = b1s[['Type 1', 'Type 2']].value_counts()

In [168]:
b2s

Type 1    Type 2
Bug       Electric    1
Poison    Dark        1
Rock      Dark        1
          Bug         1
Psychic   Grass       1
                     ..
Fire      Ground      1
          Flying      1
          Fighting    1
Fighting  Steel       1
Water     Steel       1
Length: 125, dtype: int64

In [105]:
b2 = df_Q2[['Type 1', 'Type 2']].value_counts()

In [167]:
b2

Type 1  Type 2
Normal  Flying     23
Grass   Poison     14
Bug     Flying     13
        Poison     11
Water   Ground      9
                   ..
Rock    Dark        1
Fire    Rock        1
        Psychic     1
Ground  Steel       1
Water   Steel       1
Length: 125, dtype: int64

.value_counts()方法去掉了Nan，所以比答案要小，设置参数dropna=False即可

In [196]:
m = b1s[['Type 1', 'Type 2']]

In [198]:
m.value_counts(dropna = True)

TypeError: value_counts() got an unexpected keyword argument 'dropna'

In [193]:
pd.value_counts?